*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.title{
    text-align: center;
    margin-bottom: 45px;
}
.title h4{
    color:#f55f8d ;
    font-size: 1.5rem;
    font-weight:700;
}
.title h1{
    font-size: 4.7rem;
    font-weight: 900;
    letter-spacing: 1px;
}

/* Header */
header{
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color:white;
    transition: all 0.5s;
    top:0;
    z-index: 99;
    padding:20px

}
.header_content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_menu ul{
    list-style: none;
   
}
.header_menu li{
    display: inline;
    padding:0 15px;
    transform: translateY(20px)
}
.header_menu a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}
.header_menu li i{
    font-size: 10px;
}

.text__content {
    width: 50%;
    margin: auto;
    padding: 50px;
}
.header_menu a span {
    display: inline-block;
    transition: all 1s;
}
.header_menu a:hover {
    color: #f55f8d;
}
.header_menu a:hover span {
    animation: upToDown 0.3s;
}

.button  button{
    padding:1.6rem 2.6rem;
    border-radius: 35px;
    background:   linear-gradient(90deg, #f55f8d 0%, #f8ae56 51%,#f55f8d 100%);
    border: none;
    color: #FFF;
    font-weight: 700;
    transition:0.5s;
    text-transform: uppercase;
    box-shadow: 0 0 20px #eee;
    display: block;
    margin: 10px;
    background-size: 200% auto;
    text-align: center;
    cursor: pointer;
}
.button  button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


/* Slider */
#slider{
    background-image: url(./images/Samar/pic2.png);
    background-size:contain;
    background-position:center; 
    background-repeat: no-repeat;
    height: 800px;   
}
#slider .slider_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 10rem;
    position: relative;
    overflow: hidden;
    height: auto;
}
.slider_content {
    margin-top: 10px;
    width: 50%;
}
.slider_content h4{
    color:#f55f8d ;
    font-size: 1.5rem;
    font-weight:bold;
}
.slider_content h1{
    font-size: 4.7rem;
    font-weight: 900;
    letter-spacing: 1px;
    padding-top: 15px;
}
.slider_content p{
    color: #4a4545;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 0;
}
.slider_content li{
    list-style: none;
    font-size: 1.4rem;
    padding: 10px 0;
    color: #968b8b;
    font-weight: 500;
}
.slider_content li i{
    background-image:linear-gradient(to right,#f55f8d,#f8ae56);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2.5rem;
    padding: 0 5px
}
.button.number_2{
    padding-top: 1.4rem;
}
.banner_media{
    position:relative;
}
.move-2{
    position: absolute;
    top:0;
    right: -8.5rem;
    animation:shakeIn 4s infinite;
   
}
.move-2 img{
    animation:zoomIn 2s
}

/* Service */
#service{
    background-image: url(./images/Samar/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:650px
}
.service_container{
    width: 90%;
    margin: 0 auto;
}

.service_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.service_item{
    background-color: white;
    box-shadow:0 0 20px #dcd2d2 ;
    border-radius: 10px;
    transform: translateY(20px);
    transition: all 1s;
}
.service_item:hover{
    transform: translateY(0);
}
.service_item img{
    width: 279px;
    margin: 25px 50px;
    height:279px
}
.service_item h4{
    font-size: 2rem;
    font-weight:bold;
    text-align: center;
    margin-bottom: 15px;
}
.service_item p{
    text-align: center;
    width: 84%;
    margin: 0 auto;
    font-size: 1.2rem;
    color:#b7afaf ;
    margin-bottom: 20px;
}

/* About Us */
#aboutus{
    background-image: url(./images/Samar/bg15.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
.aboutus_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items:  center;
    overflow: hidden;
}
.aboutus_image{
    width: 50%;
    margin-left: -67px;
    margin-top: 65px;
}
.aboutus_image img{
    border-radius: 0 100px 100px 0;
    height: 450px;
    width: 630px;
}
.aboutus_content{
    width: 60%;
    padding-left: 120px;
    margin-top: 97px;
}
.aboutus_content h4{
    color:#f55f8d ;
    font-size: 1.5rem;
    font-weight:700;
}
.aboutus_content h1{
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.aboutus_content p{
    color: #968b8b;
    font-size: 1.1rem;
    padding: 15px 0;
    line-height: 1.8;
}
.aboutus_content li{
    list-style: none;
    padding: 8px 0;
    display: flex;     
    align-items: center;
}
.aboutus_content li i{
    padding: 0 5px;
    color:#f55f8d ;
    font-size: 2rem;
}
.button.numeber_2{
     padding:10px 0;
}

/* Number  */
#number{
    background-image: url(./images/Samar/bg14.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:350px;
    margin-top: 16rem;
    background-color:#fff8fa ;
}
.number_content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 97px;
}
.number_item i{
    font-size: 3rem;
    color: white;
    display: block;
    padding-bottom: 2rem;
}
.number_item i::before{
    background-image:linear-gradient(to right,#f55f8d,#f8ae56);
    padding: 18px;
    border-radius: 50%;
}
.number_item h1{
    color: #f55f8d;
    font-size: 4rem;
    font-weight: 900;
    display: inline;
}
.number_item span{
    color: #f55f8d;
    font-size: 4rem;
    padding-top: 25px;
    font-weight: 900;
    display: inline;
}

.number_item p{
     font-size: 1.3rem;
}

/* Feature */
#feature{
    background-image: url(./images/Samar/bg16.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 7.8rem;
    height: 50rem;
}
.feature_container{
    width: 90%;
    margin: 0 auto;
    display:flex ;
    align-items: center;
}
.feature_heading{
    width: 80%;
}
.feature_heading h4{
    color:#f55f8d ;
    font-size: 1.5rem;
    font-weight:700;
}
.feature_heading h1{
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.feature_item{
    background-color: white;
    margin: 25px 0;
    width: 85%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px #eee;
    transition: all 1s;
}
.feature_item h1{
    font-size: 2rem;
    font-weight: 900;
}
.feature_item p{
    font-size: 1.2rem;
    padding-top: 5px;
    width: 95%;
    color:#968b8b ;
}
.feature_item i{
    font-size: 5rem;
    color: #f55f8d;
}

.feature_item:hover{
    background-image:linear-gradient(to right,#f55f8d,#f8ae56);
}
.feature_item:hover h1{
    color: #FFF;
}
.feature_item:hover p{
    color: #FFF;
}
.feature_item:hover i{
    color: #FFF;
}
.feature_left{
   margin: 25px
}
.feature_item.item2{
    margin:0 3.5rem;
}

.feature_image img{
   width: 630px;
   height: 630px;
   animation:shakeIn 4s infinite;
}

/* Project */
.project_container{
    width: 90%;
    margin: 0 auto;
}
.project_list{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 380px 190px 290px ;
    grid-template-areas:
    "h1 h1 h2"
    "h3 h4 h5"
    "h6 h6 h5";
    gap:25px;
}
.project_item.metro1{
    grid-area: h1;
}
.project_item.metro2{
    grid-area: h2;
}
.project_item.metro3{
    grid-area: h3;
}
.project_item.metro4{
    grid-area: h4;
}
.project_item.metro5{
    grid-area: h5;
}
.project_item.metro6{
    grid-area: h6;
}
.project_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.project_item{
    position: relative;
    border-radius: 10px;

}
.project_overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    overflow: hidden;
    border-radius: 10px;
}
.project_overlay::after{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%) repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 85%;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
    opacity: 0;
}
.project_item:hover .project_overlay::after{
    animation: .5s ease 0s normal none 1 running Glass;
}
.project_item:hover .project_overlay{
    opacity: 1;
}
.project_overlay .project_icon i{
    width: 45px;
    height: 45px;
    background-image:linear-gradient(to right,#f55f8d,#f8ae56);
    text-align: center;
    line-height: 45px;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 5px;
}
.project_overlay .project_icon {
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: all 1s;
    text-align: right;
    position: absolute;
    top:0;
    right: 0;
}
.project_item:hover .project_icon {
    opacity: 1;
    right: 35px;
    top: 35px;
}

.projcet_text{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: white;

    transform: translateY(100px);
    transition: all 0.5s;
}
.project_item:hover .projcet_text{
    transform: translateY(0);
}
.projcet_text h5{
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 10px;
}
/* PLAN */
#plan{
    background-image:url(./images/Samar/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 7.8rem;
    height: 50rem;
}
.plan_container{
    width: 90%;
    margin: 0 auto;
}
.monthly{
    background-image:linear-gradient(to right,#f55f8d,#f8ae56);
    color: white;
    width: 195px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 700;
    margin-top: -25px;

}
.monthly span:first-child{
    background-color: white;
    color: black;
    height: 34px;
    width: 95px;
    text-align: center;
    line-height: 34px;
    margin: 0 -22px;
    border-radius: 5px;
}

.plan_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 10px; */
}
.plan_item{
    background-color: white;
    box-shadow: 0 0 20px #eee;
    text-align: center;
    width: 370px;
    margin: 40px auto;
    background-repeat: no-repeat;
    height: 665px;
    border-radius: 7px;
}
.plan_item:hover{
    background-image: url(./images/Samar/br.png);
}

.plan_item h3{
    font-size: 2rem;
    font-weight: 900;
    padding-top: 30px;
}
.plan_item h1{
    display: inline;
    font-size: 3rem;
    color: #f8ae56;
    font-weight: 900;
}
.plan_item span{
    font-weight: 600;
    font-size: 1.3rem;
}
.plan_item img{
    width: 180px;
    margin: 25px 67px;
    height:180px;
    display: block;
}
.plan_item .icon{
    display: inline;
    width: 30px;
    height: 30px;
    background-color: pink;
    line-height: 30px;
    text-align: center;
    border-radius:50%;
    color: palevioletred;
    margin: 0 10px;
}
.plan_item ul{
    list-style: none;
    text-align: justify;
    padding: 20px 20px;
    border-top: 1px solid #8888885c;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
}
.plan_item .button.number_3 button{
    padding: 1.4rem 2.2rem;
    margin: -10px auto;
    box-shadow: 0 6px 17px #c3c1c1;
}

/* BLOG */
#blog{
    background-image: url(./images/Samar/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

}
.blog_container{
    width: 80%;
    margin: 0 auto;
}
.blog_content{
    
}
.blog_item{
    background-color:#feeff3;
    width: 350px;
    position: relative;
    margin: 0 10px;
}
.blog_item ul{
    list-style: none;
    margin: 15px 0;
    border-top: 1px solid #c3c1c163;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.blog_item img{
    width: 340px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
}
.blog_item .date{
    background-image:linear-gradient(to right,#f55f8d,#f8ae56);
    color: #FFF;
    width: 110px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    position: absolute;
    top: 180px;
    left: 20px;
} 
.blog_item h2{
    margin: 24px 22px;
    font-size: 1.7rem;
    letter-spacing: 1px;
}
.blog_item p{
    margin: 24px 22px;
    color:#888888;
}
    
.blog_item li{
    display: flex;
    align-items: center;
    padding: 0 20px;

}
.blog_item li i{
    color: #f55f8d;
    font-size: 1.5rem;
    padding: 0 5px;
}
.blog_item li span:first-of-type{
    color: #f55f8d;
}

/* LOGO */
.logo_container{
    width: 80%;
    margin: 100px auto;
}
.logo_item:hover{
    background-image:linear-gradient(to right,#f55f8d,#f8ae56);
    width: 120px;
    height: 90px;
    border-radius: 15px;
    box-shadow: 0 0 9px #f55f8d ;
}
.logo_item:hover img{
    color: #FFF;
}
.logo_item img{
    padding:20px 30px;
}
.logo_item{
    position: relative;
}
.logo_item .img_hover{
   position: absolute;
   top:0;
   left: 0;
   opacity: 0;
}
.logo_item .img_hover:hover{
    opacity: 1;
}

/* Footer */
footer{
    margin-top: -80px;
}
.footer_container{
    width: 80%;
    margin: 80px auto;
    position: relative;
}
.footer_heading{
    position: relative;
    z-index: 3;
    top: 0;
    background-image: url(./images/Samar/pattern3.png);
    background-position:bottom ;
    background-size: cover;
    box-shadow: 0 0 20px #eee;
    width: 100%;
    height: 150px;
}

.footer_form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
   
}
.footer_form form{
 display: flex;
 align-items: center;
}
.footer_form h2{
    font-size: 2rem;
    font-weight: 900;
}
.footer_form input{
    padding: 16px 100px;
}
.footer_form button{
    height: 51px;
    width: 60px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-image:linear-gradient( to right,#f55f8d, #f8ae56);
    border: none;
}
.footer_form button i{
font-size: 1.5rem;
color: white;
}


.footer_backgroud{
    position: relative;
    z-index:1;
    width: 100%;
    top:-55px;
}
.footer_backgroud img{
    width: 100%;
}
.footer_content{
    background-color: #0e1b1f;
    position: absolute;
    z-index: 0;
    width: 100%;
    background-image: url(./images/Samar/bg17.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 460px;
    margin: -200px 0;
}

.footer_list{
    margin:180px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer_item{

    color: rgba(255, 255, 255, 0.5);
}
.footer_item ul{
    list-style: none;
}
.footer_item li{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.footer_icon{

    background-image:linear-gradient(to right,#f55f8d,#f8ae56);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    margin: 0 10px ;
    color: #fff;
}
.footer_item i{
   
    margin: 0 10px ;
}
.footer_item h5{
    font-size: 1.5rem;
    padding-bottom: 25px;
    margin: 0 10px ;
}
/* footer_bottom  */
.footer_bottom{
    background-color: #1f343b;
    width: 100%;
    margin-top: 260px;
}
.bottom_content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.bottom_left{
  color: rgba(255, 255, 255, 0.5);
}
.bottom_left span:nth-child(2){
    color: #f55f8d;
}
.bottom_right{
    display: flex;
}
.bottom_icon{
  background-color:#375863 ;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  margin: 0 5px;
}
.bottom_icon:hover{
    background-image:linear-gradient( to right,#f55f8d, #f8ae56);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}
.bottom_icon i{
    color: #FFF;
    font-size: 1.3rem;
}



/* BACKTOTOP  */
.backtotop{
    width:40px;
    height:40px;
    background-color: #f55f8d;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 4px;
    z-index: 99;
    
    opacity: 0;
    visibility: hidden;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top--fade-out {
  
    opacity: 1;
}



/* Animation */

/* header  */
@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }


 /* move-2  */
 
@keyframes shakeIn{
  0% {
    -webkit-transform:rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px); }
  50% {
    -webkit-transform: rotate(-1deg) translate(-2px, -2px);
    transform: rotate(-1deg) translate(-2px, -2px); }
  100% {
    -webkit-transform: rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px); } 
}

@keyframes zoomIn{
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}


@keyframes Glass {
    0% {
        right:125%;
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        right: 0;
        opacity: 0;
    }
}

